<div class="container-xxl">
      <%= render "account/shared/notice" %>
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="<%= root_path %>" class="app-brand-link gap-2">
              <%= image_tag "fun_logo.png", width: "130", alt: "logo" %>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">Change your password 🙈</h4>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "accounts/shared/error_messages", resource: resource %>
              <%= f.hidden_field :reset_password_token %>
            
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">New Password</label>
                
              </div>
              <div class="input-group input-group-merge">
                <input
                  type="password"
                  id="account_password"
                  class="form-control"
                  name="account[password]"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password"
                />

                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>

            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Confirm new Password</label>
                
              </div>
              <div class="input-group input-group-merge">
                <input
                  type="password"
                  id="account_password_confirmation"
                  class="form-control"
                  name="account[password_confirmation]"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password"
                />

                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>

            
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Change my password</button>
            </div>
          
          <% end %>
          

          <p class="text-center">
            <span>New on our platform?</span>
            <a href="<%= new_account_registration_path%>">
              <span>Create an account</span>
            </a>
          </p>
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>
