

<div class="container-xxl">
					<%= render "account/shared/notice" %>
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="<%= root_path %>" class="app-brand-link gap-2">
                  <%= image_tag "fun_logo.png", width: "130", alt: "logo" %>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Forgot your password? 🤔</h4>
              <p class="mb-4">Please enter your email address below</p>

								<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                  <%= render "accounts/shared/error_messages", resource: resource %>

                <div class="mb-3">
                  <label for="email" class="form-label">Email Address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="account_email"
                    name="account[email]"
                    placeholder="Enter your email"
                    autofocus
                  />
                </div>
                
                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit">Reset Password</button>
                </div>
              
							<% end %>
							

              <p class="text-center">
                <span>Remember your password?</span>
                <a href="<%= new_account_session_path%>">
                  <span>Sign-in</span>
                </a>
              </p>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>



