<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
	<div class="app-brand demo">
		<a href="<%= admin_dashboard_path %>" class="app-brand-link" data-turbo="false">
			<span class="app-brand-logo demo">
				<%= image_tag "fun_logo.png", width: "50", alt: "logo" %>
			</span>
			<span class="app-brand-text demo menu-text fw-bolder ms-2 text-capitalize">EEE Funai</span>
		</a>
		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
			<i class="bx bx-chevron-left bx-sm align-middle"></i>
		</a>
	</div>
	<div class="menu-inner-shadow"></div>
	<ul class="menu-inner py-1">
		<!-- Dashboard -->
		<li class="menu-item <%= 'active' if request.path == admin_dashboard_path %>">
			<a href="<%= admin_dashboard_path %>" class="menu-link" data-turbo="false">
				<i class="menu-icon tf-icons bx bx-home-circle"></i>
				<div data-i18n="Analytics">Dashboard</div>
			</a>
		</li>
		<li class="menu-header small">
			<span class="menu-header-text">Pages</span>
		</li>
		<% if defined?(@account) && @account.present? %>
			<li class="menu-item <%= 'active open' if request.path == admin_student_pending_path|| request.path == admin_student_verified_path || request.path == admin_path(@account) %>">
			<% else %>
				<li class="menu-item <%= 'active open' if request.path == admin_student_pending_path || request.path == admin_student_verified_path %>">
				<% end %>
				<a href="javascript:void(0);" class="menu-link menu-toggle">
					<i class="menu-icon tf-icons bx bx-group"></i>
					<div data-i18n="Account Settings">Students</div>
				</a>
				<ul class="menu-sub">
					<li class="menu-item <%= 'active' if request.path == admin_student_pending_path %>">
						<a href="<%= admin_student_pending_path%>" class="menu-link" data-turbo="false">
							<div data-i18n="Account">Pending</div>
						</a>
					</li>
					<li class="menu-item <%= 'active' if request.path == admin_student_verified_path %>">
						<a href="<%= admin_student_verified_path%>" class="menu-link" data-turbo="false">
							<div data-i18n="Account">Verified</div>
						</a>
					</li>
				</ul>
			</li>
			<% if defined?(@lecturer) && @lecturer.present? %>
				<li class="menu-item <%= 'active open' if request.path == admin_lecturers_path || request.path == admin_lecturer_path(@lecturer) %>">
				<% else %>
					<li class="menu-item <%= 'active open' if request.path == admin_lecturers_path %>">
					<% end %>
					<a href="javascript:void(0);" class="menu-link menu-toggle">
						<i class="menu-icon tf-icons bx bx-group"></i>
						<div data-i18n="Account Settings">Lecturers</div>
					</a>
					<ul class="menu-sub">
						<li class="menu-item <%= 'active' if request.path == admin_lecturers_path %>">
							<a href="<%= admin_lecturers_path%>" class="menu-link" data-turbo="false">
								<div data-i18n="Account">Overview</div>
							</a>
						</li>
					</ul>
				</li>
				<!-- Extended components -->
				<!-- Extended components -->
				<!-- Components -->
				<!-- Cards -->
				<li class="menu-item <%= 'active' if request.path == admin_school_config_path  %>">
					<a href="<%= admin_school_config_path %>" class="menu-link" data-turbo="false">
						<i class="menu-icon tf-icons bx bxs-school"></i>
						<div data-i18n="Basic">School Config</div>
					</a>
				</li>
				<li class="menu-item <%= 'active' if request.path == admin_exams_path  %>">
					<a href="<%= admin_exams_path %>" class="menu-link" data-turbo="false">
						<i class="menu-icon tf-icons bx bxs-book-open"></i>
						<div data-i18n="Basic">Exams</div>
					</a>
				</li>
				<li class="menu-item <%= 'active' if request.path == admin_emails_path || request.path == admin_email_new_path %>">
					<a href="<%= admin_emails_path %>" class="menu-link" data-turbo="false">
						<i class="menu-icon tf-icons bx bx-envelope"></i>
						<div data-i18n="Basic">Emails</div>
					</a>
				</li>
				<!-- User interface -->
				<li class="menu-item <%= 'active open' if request.path == admin_settings_account_path || request.path == admin_settings_site_details_path || request.path == admin_settings_currency_pairs_path || request.path == admin_settings_payment_method_path || request.path == admin_settings_password_path %>">
					<a href="javascript:void(0)" class="menu-link menu-toggle">
						<i class="menu-icon tf-icons bx bx-cog"></i>
						<div data-i18n="User interface">Settings</div>
					</a>
					<ul class="menu-sub">
						<li class="menu-item <%= 'active' if request.path == admin_settings_account_path %>">
							<a href="<%= admin_settings_account_path %>" class="menu-link" data-turbo="false">
								<div data-i18n="Accordion">Account</div>
							</a>
						</li>
						<li class="menu-item <%= 'active' if request.path == admin_settings_password_path %>">
							<a href="<%= admin_settings_password_path %>" class="menu-link" data-turbo="false">
								<div data-i18n="Accordion">Password</div>
							</a>
						</li>
						<li class="menu-item <%= 'active' if request.path == admin_settings_site_details_path %>">
							<a href="<%= admin_settings_site_details_path %>" class="menu-link" data-turbo="false">
								<div data-i18n="Carousel">Contact Details</div>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</aside>
